@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --fundo: #fbfbfb;
    --formulario: #f5f0e1;
    --footer: #9CAF88;
    --footer_onclick: #E0F1D8;
    --hover: #8B6C42;
}

.espaco_lateral {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;

}

/* ------------------- Menu ------------------- */

header img {
    width: 255px;
    height: 235px;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    justify-self: center;

}

.menu a {
    font-size: 25px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

    font-family: "montserrat", sans-serif;
}

.menu a:hover {
    color: var(--hover);
}

/* ----------------- Manu Hamburguer ----------------- */

#icone-X,
#icone-barras,
#menuBotão {
    display: none;
}

/* ----------------- Responsividade ----------------- */

@media screen and (max-width: 768px) {
    #sombra {
        background-color: var(--footer);
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: 0.5s;
    }

    #menuBotão {
        display: block;
        z-index: 1;
    }

    header {
        position: relative;
    }

    header button {
        width: 50px;

        background: none;
        border: none;

        display: unset;
        cursor: pointer;
    }

    header svg {
        fill: var(--hover)
    }

    #icone-barras {
        display: block;
    }

    nav.menu {
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: 0.5s;
    }

}